<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>PROFILO</title>
</head>
<body>
<p th:text="'BENVENUTO ' + ${user.username} " />
<!--<p th:text="'BENVENUTO ' + ${user.id} " />-->
<p><a href="profiloPage"> <input type="button" value="Profilo"></a></p>

<p><a href="cart"> <input type="button" value="Cart"></a></p>

<p><a href="order"> <input type="button" value="orders"/></a></p>

<a href=""> <input type="button" value="Exit"></a>
</body>
</html>