<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>PROFILO</title>
</head>
<body>
<p th:text="'BENVENUTO ' + ${user.username} " />
<form action="#" th:action="@{/profiloPage}" th:object="${user}" method="get">
   
    <p><input type="submit" value="Profilo"/></p>
</form>
<form action="#" th:action="@{/cart}" th:object="${item}" method="get">
<p><input type="submit" value="Carrello"></p>
    <p><a href="order"> <input type="button" value="orders"/></a></p>
</form>
<form action="#" th:action="@{/}" method="get">
    <p><input type="submit" value="Exit" /></p>
</form>
</body>
</html>