<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>I tuoi ultimi ordini</h1>

<table border="1">
    <thead>
    <tr>
        <th> code </th>
        <th> order date </th>
        <th> price </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${orderList.empty}">
        <td colspan="2"> Nessun ordine trovato </td>
    </tr>
    <tr th:each="order : ${orderList}">
        <td><span th:text="${order.idOrders}"></span></td>
        <td><span th:text="${order.orderDate}"></span></td>
        <td><span th:text="${order.totalPrice}"></span></td>
    </tr>
    </tbody>
</table>
<a href="home">home page</a>
</body>
</html>