<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Profilo personale</h1>
<form action="#" th:action="@{/profiloPage}" th:object="${user}" method="post">
    <p>
        <img src="#" id="getImage" th:src="*{photo}" onclick="changeImage()">
        <--- Click me!
        <script>
        function changeImage() {
            var image = "https://robohash.org/" + Math.floor((Math.random() * 100) + 1) + ".png?size=100x100";
            var Image_Id = document.getElementById('getImage');
            Image_Id.src = image;
            var Image_hidden = document.getElementById('saveImg');
            Image_hidden.value = image;
        }
        </script>
        <input type="hidden" id="saveImg" th:field="*{photo}">
    </p>
    <p>username: <input type="text" th:field="*{username}" /></p>
    <p>password: <input type="text" th:field="*{password}" /></p>
    <p>indirizzo:  <input type="text" th:field="*{address}" /></p>
    <p><input type="submit" value="Save">  <a href="home"> <input type="button" value="Home"></a></p>
</form>
</body>
</html>