<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Registrati</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Inserisci i dati per la registrazione</h1>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <p>
        <img src="#" id="getImage" th:src="*{photo}" onclick="changeImage()">
        <--- Click me!
        <script>
        function changeImage() {
            var Image_Id = document.getElementById('getImage');
            Image_Id.src = "https://robohash.org/" + Math.floor((Math.random() * 100) + 1) + ".png?size=100x100";
        }
        </script>
    </p>
    <p>username: <input type="text" th:field="*{username}" /></p>
    <p>password: <input type="password" th:field="*{password}" /></p>
    <p>indirizzo:  <input type="text" th:field="*{address}" /></p>
    <p><input type="submit" value="Salva"/></p></form>
    <p><a href=""><input type="submit" value="Home"></a></p>

</body>
</html>